.body__defeat__background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(80, 80, 80, 0.5);
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	.defeat__background__contentContainer {
		box-sizing: border-box;
		padding: 2.5rem;

		background-color: #c56c40;
		display: flex;
		flex-direction: column;
		align-items: center;

		border: solid 10px #663220;
		border-radius: 1rem;

		> h1 {
			color: #d51111;
			-webkit-text-stroke-width: 3px;
			-webkit-text-stroke-color: black;

			font-size: 6rem;
			padding: 0 1rem;
		}
		
		
		> div:nth-child(2) {
			font-size: 2rem;

			> p {
				padding: 0.5rem;
				> span {
					color: #d51111;
					-webkit-text-stroke-width: 3px;
					-webkit-text-stroke-color: black;
				}
			}
		}
		> div:last-child {
			margin-top: 2rem;
			display: flex;
			align-items: center;

			font-size: 2rem;
			> div {
				padding: 0 1.5rem;
				display: flex;
				align-items: center;
				gap: 1rem;

				transition: color 200ms ease;

				&:hover {
					color: #d51111;
					-webkit-text-stroke-width: 3px;
					-webkit-text-stroke-color: black;
					cursor: pointer;
				}
			}
		}
	}
}
