.body__manual__background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(80, 80, 80, 0.5);
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	.manual__background__contentContainer {
		box-sizing: border-box;
		padding: 2.5rem;

		background-color: #c56c40;
		display: flex;
		flex-direction: column;
		align-items: center;

		border: solid 10px #663220;
		border-radius: 1rem;

		position: relative;

		overflow: scroll;
		max-height: 50rem;

		> h1 {
			color: #fbb101;
			-webkit-text-stroke-width: 3px;
			-webkit-text-stroke-color: black;

			font-size: 6rem;
			padding: 0 10rem;
			margin-bottom: 2rem;
		}

		.contentContainer__close {
			position: absolute;
			top: 1rem;
			right: 2rem;
			font-size: 4rem;
			padding: 1rem;

			transition: color 100ms ease;
			color: #663220;

			&:hover {
				color: #fb0101;
				cursor: pointer;
			}
		}
		> div {
			> h2 {
				font-size: 3rem;
				color: #fbb101;
				-webkit-text-stroke-width: 3px;
				-webkit-text-stroke-color: black;
				word-spacing: 0.5rem;
				margin-bottom: 1rem;
			}
			> p {
				max-width: 30rem;
				font-size: 2rem;
				line-height: 2.5rem;
				word-spacing: 0.25rem;
				margin-bottom: 3rem;
			}
		}
	}
}
